<!-- About Info Section -->
<section id="about" class="odd utf-highlights image-right featured left item-left-shape">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 align-self-center text-center text-md-left">
        <div class="row intro">
          <div class="col-12 p-0">
		    <span class="sub-item-title">About Main Info</span>
            <h2 class="featured alt">About Us</h2>
			<div class="bar"></div>
            <p>Game developers; To shorten the game development times, to develop artificial intelligence algorithms that enable users to increase their profile and their time in the game. (Dynamic difficulty setting, Player matching algorithm etc ...). In this way; Enabling developers to reduce game development costs and increase revenue.</p>
          </div>
        </div>
        <div class="row items">
          <div class="col-12 p-0">
            <div data-aos="fade-right" data-aos-delay="100" class="row item">
              <div class="col-12 col-md-3 align-self-center"> <i class="icon icon-layers"></i> </div>
              <div class="col-12 col-md-9 align-self-center">
                <h4>Who We Are One</h4>
                <p>Game developers; shortens game development times, user profiles and the length of time users stay in the game We are a company that develops artificial intelligence algorithms that enable them to increase.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery col-12 col-md-6"> <a href="static/images/about-8.jpg" class="utf-about-box-image"> <i class="view-gallery icon-picture"></i> <img src="static/images/about-8.jpg" class="fit-image" alt="About Image"> </a> </div>
    </div>
  </div>
</section>
