<!-- Contact Form Section -->
<section id="contact" class="odd form featured">
  <div class="container">
    <div class="row">
      <div class="gallery col-12 col-md-6 pr-md-4 d-md-block col-gallery-item"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.228085013187!2d29.03005511525127!3d41.107709521249305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab56e894d24fb%3A0xb875349b5446d05d!2zxLBUw5wgQVJJIFRla25va2VudA!5e0!3m2!1str!2str!4v1607320118020!5m2!1str!2str" width="800" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <!--<a class="step-image" data-poster="assets/images/about-7.jpg" href="https://www.youtube.com/watch?v=ng2Qj-_zfPk"> <i class="play-video icon-camrecorder"></i>
        <img src="assets/images/about-7.jpg" class="fit-image" alt="Contact Video"> </a> -->
      </div>
	  <div class="col-12 col-md-6 align-self-start text-center text-md-left"> 
	    <!-- Success Message -->
		<div class="row success message" id="success_message">
			<div class="col-12 p-0">
				<i class="icon bigger icon-check"></i>
				<h3>Success Your Message</h3>
				<p>Your Message Has Been Sent Successfully.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac vulputate dolor Lorem ipsum dolor sit amet consectetur elit.</p>
				<a href="branding-agency.html" class="btn mx-auto primary-button">Refresh to Homepage <i class="icon-refresh"></i></a>
			</div>
		</div>
        <div class="row text-center">
		  <div class="row intro mx-auto">
			  <div class="col-12 col-md-12 p-0">
			    <span class="sub-item-title">Connect Us</span>
				<h2 class="featured alt">Get In Touch.</h2>
				<div class="bar"></div>
				<p>İTÜ Arı Teknokent No:4 İç Kapı No:1101, 34467 Sarıyer <br>Phone: <a  href="tel:+90530-783-7600"><b>+90530 783 7600</b></a> or Email: <a href="mailto:info@appneuron.com"><b>info@appneuron.com</b></a></p>
			  </div>
		  </div>
          <div class="col-12 p-0">
            <div class="row">
				<form class="form-wrapper" onsubmit="return sendmessage();" name="contact-us" id="contact-us" method="post">
				  <fieldset class="step-group">
					<div class="row">
					  <div class="col-12 col-md-6 input-group padding-left-0">
						<input type="text" name="name" id="name" data-minlength="3" class="form-control" placeholder="Your Name" required>
					  </div>
					  <div class="col-12 col-md-6 input-group padding-right-0">
						<input type="email" name="email" id="email" data-minlength="3" class="form-control" placeholder="Your Email" required>
					  </div>
					</div>
					<div class="row">
					  <div class="col-12 col-md-6 input-group padding-left-0">
						<input type="text" name="subject" id="subject" data-minlength="3" class="form-control" placeholder="Write a Subject" required>
					  </div>
					  <div class="col-12 col-md-6 input-group padding-right-0">
						<input type="number" name="phone" id="phone" data-minlength="3" class="form-control" placeholder="Phone Number" required>
					  </div>
					</div>
					<div class="row">
					  <div class="col-12 col-md-12 input-group padding-left-0 padding-right-0">
						<textarea data-minlength="3" name="message" id="message" class="form-control" placeholder="Your Message..." required></textarea>
					  </div>
					</div>
					<div class="col-12 col-md-12 align-self-center text-center input-group"> 
						<button class="mx-auto btn primary-button btn_submit">Submit <i class="icon-check left"></i></button> 
				    </div>
				  </fieldset>              
				</form>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>