

<!-- Footer Section -->
<footer> 
  <section id="footer" class="odd footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 col-sm-12 col-xs-12 p-3 text-lg-left">
          <h4>About Us</h4>
          <p>Game developers; shortens game development times, user profiles and the length of time users stay in the game We are a company that develops artificial intelligence algorithms that enable them to increase.</p>
          <ul class="navbar-nav social share-list mt-0 ml-auto">
            <li class="nav-item"><a href="https://www.facebook.com/appneuron/" class="nav-link"><i class="icon-social-facebook"></i></a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/company/68841141/admin/" class="nav-link"><i class="icon-social-linkedin"></i></a></li>
            <li class="nav-item"><a href="https://twitter.com/app_neuron" class="nav-link"><i class="icon-social-twitter"></i></a></li>
			<li class="nav-item"><a href="https://www.instagram.com/accounts/login/?next=/appneuron/" class="nav-link"><i class="icon-social-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 col-sm-6 col-xs-6 p-3 text-left">
		  <h4>Useful Links</h4>
          <ul class="navbar-nav fb-nav-link">
            <li class="nav-item"><a href="#about" class="nav-link"><i class="icon-arrow-right"></i> About Us</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link"><i class="icon-arrow-right"></i> Contact Us</a></li>
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> Our Services</a></li>
            <li class="nav-item"><a href="#team" class="nav-link"><i class="icon-arrow-right"></i> Teams Condition</a></li>
            <li class="nav-item"><a href="/terms" class="nav-link"><i class="icon-arrow-right"></i> Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 col-sm-6 col-xs-6 p-3 text-left">
		  <h4> Services</h4>
          <ul class="navbar-nav fb-nav-link">
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> DDA System</a></li>
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> Matching System</a></li>
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> Suggestion Algorithm</a></li>
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> Behavior Analysis System</a></li>
            <li class="nav-item"><a href="#services" class="nav-link"><i class="icon-arrow-right"></i> Multiplayer Infrastructure Library</a></li>
          </ul>
        </div>
		<div class="col-12 col-lg-3 col-sm-6 col-xs-6 p-3 text-left">
		  <h4>Contact Us</h4>
          <ul class="navbar-nav fb-contact-info">
            <li class="nav-item"><a href="tel:+90530-783-7600" class="nav-link"><i class="icon-call-in mr-2"></i> +90530 783 7600</a></li>
            <li class="nav-item"><a href="mailto:info@appneuron.com" class="nav-link"><i class="icon-envelope-open mr-2"></i> info@appneuron.com</a></li>
			      <li class="nav-item"><a  class="nav-link"><i class="icon-globe mr-2"></i> www.appneuron.com</a></li>
            <li class="nav-item"><a  class="nav-link"><i class="icon-location-pin mr-2"></i> İTÜ Arı Teknokent No:4 İç Kapı No:1101, 34467 Sarıyer</a></li>            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright" class="p-3 odd copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 p-3 text-center text-lg-center">
          <p>Copyright © 2020 All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>