<!-- Header -->
<header class="odd"> 
  <!-- Navbar -->
  <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
    <div class="container header"> 
      <a class="navbar-brand" href="/"><img src="static/images/logo-white.png" alt="Theme Logo"></a>  
      <ul class="navbar-nav items ml-auto">
        <li class="nav-item"><a href="#slider" class="nav-link smooth-anchor">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link smooth-anchor">About</a></li>
        <li class="nav-item"><a href="#services" class="nav-link smooth-anchor">Services</a></li>
        <li class="nav-item"><a href="#pricing" class="nav-link smooth-anchor">Pricing</a></li>
        <li class="nav-item"><a href="#team" class="nav-link smooth-anchor">Team</a></li>
      </ul>
      <!-- Navbar Icons data-target="#login" -->
      <ul class="navbar-nav icons ml-auto m-xl-0">
		<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign"><i class="icon-user"></i></a></li>
      </ul>
      <!-- Navbar Toggle -->
      <ul class="navbar-nav toggle">
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#menu"><i class="icon-menu m-0"></i></a></li>
      </ul>
      <!-- Navbar Action -->
      <ul class="navbar-nav action">
        <li class="nav-item ml-3"><a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button">Contact <i class="icon-phone"></i></a></li>
      </ul>
    </div>
  </nav>
</header>