<!-- Hero Section -->
<section id="slider" class="p-0 odd featured left">
  <div class="swiper-container no-slider animation slider-h-100 alt">
    <div class="swiper-wrapper"> 
      <div class="swiper-slide slide-center"> 
	    <img data-aos="zoom-out-up" data-aos-delay="800" src="static/images/slide-hero-9.png" class="hero-image" alt="Hero Image">
		<div id="particles-js" class="full-image mask"></div>
        <div class="slide-content row">
          <div class="col-12 d-flex inner">
            <div class="left align-self-center text-center text-md-left">
              <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">AppNeuron</h1>
              <p data-aos="zoom-out-up" data-aos-delay="800" class="description full-slider-text-white">From Data to Game Experience</p>
              <div class="intro-btn-item">
				<a href="#pricing" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto ml-md-0 mt-4 btn primary-button">WORK WITH US <i class="icon-briefcase"></i></a>
				<a href="#about" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto ml-md-0 mt-4 btn primary-button">ABOUT US <i class="icon-arrow-right-circle"></i></a>	
      </div>
			</div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>