<!-- Provide Services Section -->
<section id="services" class="odd offers featured left">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
	    <span class="sub-item-title">What I Do Services</span>
        <h2>Provide Services</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center items">
      <div class="col-12 col-lg-4 col-sm-6 col-xs-12 item">
	    <div class="card"> 
		  <i class="icon icon-puzzle"></i>
          <h4>DDA System</h4>
          <p>-------------------</p>
		  <a href="page-service-single.html"><span>Read More</span> <i class="btn-icon icon-control-forward"></i></a> 	
		</div>
      </div>
      <div class="col-12 col-lg-4 col-sm-6 col-xs-12 item">
        <div class="card"> 
		  <i class="icon icon-user"></i>
          <h4>Matching System</h4>
          <p>-------------------</p>
          <a href="page-service-single.html"><span>Read More</span> <i class="btn-icon icon-control-forward"></i></a> 
		</div>
      </div>
      <div class="col-12 col-lg-4 col-sm-6 col-xs-12 item">
        <div class="card"> 
		  <i class="icon icon-equalizer"></i>
          <h4>Suggestion Algorithm</h4>
          <p>-------------------</p>
          <a href="page-service-single.html"><span>Read More</span> <i class="btn-icon icon-control-forward"></i></a> 
		</div>
      </div>
      <div class="col-12 col-lg-4 col-sm-6 col-xs-12 item">
        <div class="card"> 
		  <i class="icon icon-anchor"></i>
          <h4>Behavior Analysis System</h4>
          <p>-------------------</p>
          <a href="page-service-single.html"><span>Read More</span> <i class="btn-icon icon-control-forward"></i></a> 
		</div>
      </div>
      <div class="col-12 col-lg-4 col-sm-6 col-xs-12 item">
        <div class="card"> 
		  <i class="icon icon-settings"></i>
          <h4>Multiplayer Infrastructure Library</h4>
          <p>-------------------</p>
          <a href="page-service-single.html"><span>Read More</span> <i class="btn-icon icon-control-forward"></i></a> 
		</div>
      </div>
    </div>
  </div>
</section>