<!-- Team Expert Section -->
<section id="team" class="odd carousel featured team-member-list">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
	    <span class="sub-item-title">Our Expert Team</span>
        <h2>Meet the Teams</h2>
      </div>
    </div>
    <div class="swiper-container slider-mid items">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-center text-center item">
          <div class="row card">
            <div class="col-12 p-0"> 
			  <img src="static/images/team-1.jpg" alt="John Williams" class="person">
			  <div class="hover-overlay-box"></div>
              <h4>Burak HALEFOĞLU</h4>
			  <span class="sub-item">Project Manager - Software Developer</span>
              <p>Four years of experience in game development and software took over the software infrastructure and project management part of the Project.</p>
              <ul class="navbar-nav social share-list ml-auto">
                <li class="nav-item"><a href="https://www.linkedin.com/in/burak-halefo%C4%9Flu-755091121/" class="nav-link"><i class="icon-social-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-center text-center item">
          <div class="row card">
            <div class="col-12 p-0"> 
			  <img src="static/images/team-2.jpg" alt="John Williams" class="person">
			  <div class="hover-overlay-box"></div>
              <h4>Burak CANTÜRK</h4>
			  <span class="sub-item">Software Developer</span>
              <p>Two years of experience in data security and server infrastructure systems will work on server software and infrastructure setup and auditing.</p>
              <ul class="navbar-nav social share-list ml-auto">
				<li class="nav-item"><a href="#" class="nav-link"><i class="icon-social-facebook"></i></a></li>
                <li class="nav-item"><a href="https://www.linkedin.com/in/burak-cant%C3%BCrk-2b200b10a/" class="nav-link"><i class="icon-social-linkedin"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-social-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-center text-center item">
          <div class="row card">
            <div class="col-12 p-0"> 
			  <img src="static/images/team-3.jpg" alt="John Williams" class="person">
			  <div class="hover-overlay-box"></div>
              <h4>Muhammed SARI</h4>
			  <span class="sub-item">Data Scientist</span>
              <p>Three years of experience in game development, 3D Design and level development, will work as a data scientist in the Project.</p>
              <ul class="navbar-nav social share-list ml-auto">
                <li class="nav-item"><a href="https://www.linkedin.com/in/muhammed-sar%C4%B1-9560a21b5/" class="nav-link"><i class="icon-social-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>