<section id="video" class="odd utf-highlights image-center featured right">
  <div class="container short">
    <div class="row text-center intro">
      <div class="col-12">
	    <span class="sub-item-title">DDA System Our Product İntroduction Video</span>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 gallery"> <a href="https://www.youtube.com/watch?v=D2p4X07hesw&feature=youtu.be&ab_channel=%C4%B0T%C3%9C%C3%87ekirdek" class="square-image d-flex justify-content-center align-items-center"> <i class="icon bigger icon-camrecorder"></i> <img src="static/images/news-3.jpg" class="fit-image" alt="Video"> </a> </div>
    </div>
  </div>
</section>