<!DOCTYPE html>
<html lang="en">
 <head>
<meta name="author" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Terms and condisions</title>
<link rel="shortcut icon" href="static/images/favicon.png">

<link rel="stylesheet" href="static/css/stylesheet-main.css">
<link rel="stylesheet" href="static/css/default-stylesheet.css">
<link rel="stylesheet" href="static/css/indigo-color.css">
<link rel="stylesheet" href="static/css/social.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">


<style>
:root {
 --header-bg-color: #030301;
 --nav-item-color: #f5f5f5;
 --hero-bg-color: #030301;
 --section-1-bg-color: #111111;
 --section-2-bg-color: #030301;
 --section-3-bg-color: #111111;
 --section-4-bg-color: #030301;
 --section-5-bg-color: #111111;
 --section-6-bg-color: #030301;
 --section-7-bg-color: #111111;
 --section-8-bg-color: #030301;
 --section-9-bg-color: #111111;
 --section-10-bg-color: #030301;
 --footer-bg-color: #000000;
}
</style>
</head>
<body>
<!-- Header -->
<header>   
  <!-- Navbar -->
  <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
    <div class="container header"> 
      
      <!-- Navbar Brand--> 
      <a class="navbar-brand" href="index.html"><img src="static/images/logo-white.png" alt="Theme Logo"></a>
    </div>
  </nav>
</header>

<!-- Hero Section -->
<section id="slider" class="p-0 odd breadcrum-section-item">
  <div class="swiper-container no-slider">
    <div class="swiper-wrapper"> 
      <div class="swiper-slide slide-left"> 
        <img src="assets/images/bg-1.jpg" class="full-image mask" alt="">
		<div id="particles-js" class="full-image mask"></div>
        <div class="slide-content row text-left">
          <div class="col-12 mx-auto inner breadcrum-inner-block">
            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
              <ul class="breadcrumb pt-1 pb-1 pl-0 pr-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Terms And Conditions</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	<p> Lorem Ipsum
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dapibus turpis. Praesent eu venenatis magna. Nulla eget tempor libero. Maecenas rhoncus viverra aliquam. Morbi auctor semper pellentesque. Proin gravida pulvinar dolor. Duis vitae vehicula mi, vel eleifend est.

Phasellus id pretium lorem. Sed elementum massa ut augue sollicitudin facilisis. Morbi viverra sapien a eros sagittis vulputate. Etiam in tortor condimentum, mollis nisl quis, euismod odio. Aliquam in tellus sit amet urna convallis ornare. Nunc diam turpis, lacinia maximus pretium nec, feugiat eget lacus. Vivamus vitae tincidunt ex. Morbi egestas gravida tortor, id scelerisque dui lobortis et. Quisque feugiat mattis quam et lobortis. Curabitur ullamcorper suscipit odio non dapibus. Proin sollicitudin ornare ligula, sit amet pellentesque sem lobortis sit amet. Nunc sit amet ligula vitae justo tristique rhoncus et nec quam. In fringilla lacus lorem, eu varius lacus volutpat et. Sed in luctus neque. Cras eu tellus nec est volutpat congue eu quis mauris.

Etiam auctor porttitor eros eget commodo. Fusce malesuada tellus id orci posuere tincidunt. Sed a lectus ultricies mi luctus euismod a quis felis. Pellentesque rutrum sit amet quam nec aliquam. Fusce sed felis sed massa tincidunt dapibus. Curabitur venenatis, nisl ullamcorper elementum dignissim, enim nisl condimentum purus, sit amet ullamcorper eros nibh nec purus. Ut vitae lectus dolor.

Vestibulum tincidunt nec odio sed blandit. In eget ipsum nisi. Quisque malesuada velit ut lectus ultricies, a maximus libero varius. Morbi laoreet leo erat, vitae commodo ligula vehicula eget. Vivamus scelerisque nunc vel euismod suscipit. Fusce dolor ipsum, vehicula quis massa id, convallis aliquet diam. Mauris vel commodo odio, nec tincidunt elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Maecenas semper sollicitudin lorem, ac semper nunc varius pulvinar. Quisque ornare accumsan lorem vel blandit. Vivamus nibh orci, fermentum sed justo a, fringilla consectetur dui. Vivamus mattis odio nec arcu varius, in auctor ipsum imperdiet. Phasellus lorem risus, tempus ac fringilla in, malesuada a purus. Proin volutpat iaculis ullamcorper. Aenean nisl dolor, porta id aliquet ac, pellentesque in tortor. Sed vel lacus eget orci venenatis fringilla at sed magna. Sed nec tellus pellentesque erat elementum convallis. Curabitur ac lorem pharetra massa sollicitudin scelerisque quis in ante. Fusce molestie urna id lectus sollicitudin congue nec ac leo. Nulla placerat sed lectus sed faucibus. Morbi commodo nunc bibendum, auctor tellus in, ullamcorper felis. Proin vel massa eu odio placerat faucibus.

Generated 5 paragraphs, 395 words, 2676 bytes of Lorem Ipsum </p>

</main>



<!-- Footer Section -->
<footer> 
  <section id="footer" class="odd footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 col-sm-12 col-xs-12 p-3 text-lg-left">
          <h4>About Us</h4>
          <p>Game developers; shortens game development times, user profiles and the length of time users stay in the game We are a company that develops artificial intelligence algorithms that enable them to increase.</p>
          <ul class="navbar-nav social share-list mt-0 ml-auto">
            <li class="nav-item"><a href="https://www.facebook.com/appneuron/" class="nav-link"><i class="icon-social-facebook"></i></a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/company/68841141/admin/" class="nav-link"><i class="icon-social-linkedin"></i></a></li>
            <li class="nav-item"><a href="https://twitter.com/app_neuron" class="nav-link"><i class="icon-social-twitter"></i></a></li>
			<li class="nav-item"><a href="https://www.instagram.com/accounts/login/?next=/appneuron/" class="nav-link"><i class="icon-social-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 col-sm-6 col-xs-6 p-3 text-left">
		  <h4>Useful Links</h4>
          <ul class="navbar-nav fb-nav-link">
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> About Us</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Contact Us</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Our Services</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Teams Condition</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 col-sm-6 col-xs-6 p-3 text-left">
		  <h4> Services</h4>
          <ul class="navbar-nav fb-nav-link">
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> DDA System</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Matching System</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Suggestion Algorithm</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Behavior Analysis System</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><i class="icon-arrow-right"></i> Multiplayer Infrastructure Library</a></li>
          </ul>
        </div>
		<div class="col-12 col-lg-3 col-sm-6 col-xs-6 p-3 text-left">
		  <h4>Contact Us</h4>
          <ul class="navbar-nav fb-contact-info">
            <li class="nav-item"><a href="tel:+90530-783-7600" class="nav-link"><i class="icon-call-in mr-2"></i> +90530 783 7600</a></li>
            <li class="nav-item"><a href="mailto:info@appneuron.com" class="nav-link"><i class="icon-envelope-open mr-2"></i> info@appneuron.com</a></li>
			      <li class="nav-item"><a  class="nav-link"><i class="icon-globe mr-2"></i> www.appneuron.com</a></li>
            <li class="nav-item"><a  class="nav-link"><i class="icon-location-pin mr-2"></i> İTÜ Arı Teknokent No:4 İç Kapı No:1101, 34467 Sarıyer</a></li>            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright" class="p-3 odd copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 p-3 text-center text-lg-center">
          <p>Copyright © 2020 All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>



  <script src="static/js/jquery.min.js"></script> 
  <script src="static/js/jquery.easing.min.js"></script> 
  <script src="static/js/ponyfill.min.js"></script> 
  <script src="static/js/popper.min.js"></script> 
  <script src="static/js/bootstrap.min.js"></script> 
  <script src="static/js/slider.min.js"></script> 
  <script src="static/js/gallery.min.js"></script> 
  <script src="static/js/animation.min.js"></script> 
  <script src="static/js/particles.min.js"></script>
  <script src="static/js/custom_script.js"></script>
  <script src="static/js_lg/login.js"></script>

</body>
</html>